.main-section{
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid #000;
}    

.grid-header{
  grid-area: header;
  border-bottom: 1px solid #000;
}

.grid-aside{
  grid-area: aside;
  border-right: 1px solid #000;
}

.grid-section{
  grid-area: section;
}

.grid-template-search-container{
  grid-template-rows: max-content auto;
  grid-template-columns: minmax(min-content, 20%) auto;
  grid-template-areas: 'header header'
                       'aside section';
}

@media all and (max-width:767px){
  .main-section{
    height: auto;
    border: 0;
  }
  .grid-template-search-container{
      grid-template-rows: max-content;
      grid-template-columns: auto;
      grid-template-areas:'header'
                          'aside' 
                          'section';
  }

  .grid-aside{
    border-right: 0;
  }
}